<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.GoodMapper">

    <select id="getGoodList" resultType="com.example.pojo.Good">
        select * from good_table
    </select>


    <insert id="insertGood" parameterType="com.example.pojo.Good">
        insert into good_table (uk_id_goods,price_goods,name_goods,gmt_create,gmt_modified)
            values (#{uk_id_goods},#{price_goods},#{name_goods},#{gmt_create},#{gmt_modified})
    </insert>

    <delete id="deleteGood" parameterType="int">
        DELETE FROM good_table WHERE uk_id_goods = #{uk_id_goods}
    </delete>

    <update id="updateGood" parameterType="com.example.pojo.Good">
        UPDATE good_table
        SET
            price_goods = #{price_goods},
            name_goods = #{name_goods},
            gmt_create = #{gmt_create},
            gmt_modified = #{gmt_modified}
        WHERE uk_id_goods = #{uk_id_goods}
    </update>

</mapper>